body {
    margin: 0;
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

video, canvas {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

canvas {
    z-index: 10;
    pointer-events: none;
}
